<header class="fixed-top header">
    <!-- top header -->
    <div class="top-header py-2 bg-white">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 text-center text-lg-left">
                    <ul class="list-inline d-inline">
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-8 text-center text-lg-right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('security_register_user') }}">Register</a></li>
                        <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('security_login') }}">Login</a></li>
                        <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="{{ path('security_logout') }}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar -->
    <div class="navigation w-100">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <div class="text-lg-left">
                    <a class="nav-link" href="{{ path('security_home') }}"><img src="educenter/images/logo_fiis.jpg" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse">
                    <span> <a class="text-muted mb-4">INGENIERIA <br> DE INFORMMÁTICA Y SISTEMAS</a></span>
                </div>
                <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('security_home') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                List
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('security_list_user') }}">List of all Users</a>
                                <a class="dropdown-item" href="{{ path('security_list_faculty') }}">List of all Faculties</a>
                                <a class="dropdown-item" href="{{ path('security_list_school') }}">List of all Professional Schools</a>
                                <a class="dropdown-item" href="{{ path('security_list_department') }}">List of all Academic Departments</a>
                                <a class="dropdown-item" href="{{ path('security_list_teacher') }}">List of all Teachers</a>
                                <a class="dropdown-item" href="{{ path('security_list_course') }}">List of all Courses</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown view">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Register
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ path('security_register_faculty') }}">Register an Academic Faculty</a>
                                <a class="dropdown-item" href="{{ path('security_register_school') }}">Register Professional School</a>
                                <a class="dropdown-item" href="{{ path('security_register_department') }}">Register an Academic Department</a>
                                <a class="dropdown-item" href="{{ path('security_register_teacher') }}">Register Teacher</a>
                                <a class="dropdown-item" href="{{ path('security_register_course') }}">Register course</a>
                            </div>
                        </li>
                        <li class="nav-item @@contact">
                            <a class="nav-link" href="{{ path('security_contact') }}">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>