{% extends 'base.html.twig' %}

{% block title %}Security - List - Course{% endblock %}

{% block body %}
    <!-- header -->
    {{ include('header/header.html.twig') }}
    <!-- /header -->

    <!-- page title -->
    <section class="page-title-section overlay" data-background="educenter/images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">List of all courses</a></li>
                        <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                    </ul>
                    <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->

    <!-- list course -->
    <section class="section bg-gray">
        <div class="container">
            <div>
                <a class="btn btn-success" href="#">New<i class="fa fa-plus"></i></a>
            </div>
            <br>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Credits</th>
                    <th>School</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>

                <thead>
                {% for course in courses %}
                <tbody>
                <tr>
                    <td>{{ course.codigo }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.school }}</td>
                    <td>
                        <a class="btn btn-warning" href="#">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                </thead>
            </table>
        </div>
    </section>
    <!-- /list course -->

    <!-- footer -->
    {{ include('footer/footer.html.twig') }}
    <!-- /footer -->
{% endblock %}