{% extends 'base.html.twig' %}

{% block title %}Security - List - Teacher{% endblock %}

{% block body %}

    <!-- list teacher -->
    <section class="section bg-gray">
        <div class="container">
            <div>
                <a class="btn btn-success" href="#">New<i class="fa fa-plus"></i></a>
            </div>
            <br>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th>Condition</th>
                    <th>Category</th>
                    <th>Code</th>
                    <th>Department</th>
                    <th>User</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>

                <thead>
                {% for teacher in teachers %}
                <tbody>
                <tr>
                    <td>{{ teacher.condicion }}</td>
                    <td>{{ teacher.categoria }}</td>
                    <td>{{ teacher.codigo }}</td>
                    <td>{{ teacher.department }}</td>
                    <td>{{ teacher.users }}</td>
                    <td>
                        <a class="btn btn-warning" href="#">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="#">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
                </thead>
            </table>
        </div>
    </section>
    <!-- /list teacher -->
{% endblock %}